.container {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container input {
    border: none;
    background-color: transparent;
    color: #f8f8f8;
    padding: 15px 20px ;
    width: 350px;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0,0.4);
    border-radius: 5px;
    font-size: larger;
}